{% extends "base.html" %}
{% block body_block %}
{% load staticfiles %}

<div class='row'>

        <div class='col-md-8' style='margin-top: 40px;'>
                 <!-- <h1>Welcome to my CV!</h1>  -->
                <!-- <img class="img-thumbnail" src="{% static "painting1.jpg" %}" alt="My image"> -->
                <h1 style="text-align: left;"><b>Elias Dallis CV</b></h1>
                
        </div>
        <div class="col-md-4">
                <img class="img-thumbnail" src="{% static "painting1.jpg" %}" alt="My image">
                
                
        
                
                
                
                </div>
        <!-- <div class='col-md-3'> 
                 <h1>Welcome to my CV!</h1> -->
                
                
        <!-- </div>  -->
        <!-- <hr class="my-4">  -->
</div>
     

{% endblock %}
